.outer-wrapper {
  min-height: 100vh;
  max-width: 100%;
  overflow: hidden;
}


.clear-transform {
  transform: none !important;
}


/* Forces a link to cover it's parent */
.bt-link-cover {
  position: absolute;
  left: 0;
  top: 0;
  height: 100%;
  width: 100%;
  z-index: 2;
}

.bt-above-link-cover { /* top: element must be pos: rel or abs for this to work */
  z-index: 3;
}

.liquid-container, .liquid-child {
  overflow: visible;
  -webkit-transform: none;
  -moz-transform: none;
  transform: none;
}

.bt-cursor-pointer {
  cursor: pointer;
}

.navbar-bottom {
  z-index: 99;
}