.brick-background {
  background: linear-gradient(rgba(0, 0, 0, 0.7), rgba(0, 0, 0, 0.7)), url(bricks-gray-2.jpg) repeat-y right top;
  background-size:2000px 600px;
}


.brick {
  opacity:0;
  transition: opacity 1000ms;

  p {
    font-family: 'Varela Round', sans-serif;
    color: white;
    padding: 10px;
    text-shadow: 1px 1px black;
  }

  canvas {
    border-radius: 8px;
  }
}
.brick0 {
  position: absolute;
  top: 172px;
  right: 485px;
  width: 266px;
  height: 100px;
  p {font-size: 33px; padding-top:32px; padding-left:10px; line-height:32px;}
}


.brick1 {
  position: absolute;
  top: 172px;
  right: 162px;
  width: 266px;
  height: 100px;
  p {font-size: 24px; padding-top:0px; padding-left:16px; line-height:32px;}
}

.brick2 {
  position: absolute;
  top: 323px;
  right: 377px;
  width: 545px;
  height: 105px;
  p {font-size: 43px; padding-top:20px; padding-left:41px; }
  .brick-bt-text {
    font-size: 80px;
    line-height: 36px;
    position: absolute;
    bottom:0;
    right: 40px;
    font-family: 'Sacramento';
    &.animated {
      color: #c4040B;
    }
  }
}


.brick3 {
  border-radius: 5px;
  position: static;
  padding-top: 100px;
  margin-left: auto;
  margin-right: auto;
  width: 500px;

  p {
    color: white;
    font-size: 35px;
  }
}
@media (max-width: 520px) {
  .brick3 {
    p {font-size: 26px;}
    width: 300px;
  }
}

#brick-bt-logo {
  position: absolute;
  top: 476px;
  right: 140px;
  width: 400px;
  text {
    stroke-dasharray: 1000;
    stroke-dashoffset: 1000;
  }
}
#brick-bt-logo-mobile {
  height: 62px;
  text {
    stroke-dasharray: 1000;
    stroke-dashoffset: 1000;
  }
}
@media (max-width: @breakpoint-medium) {
  #brick-bt-logo { visibility: hidden; }
  #brick-bt-logo-mobile { visibility: visible; }
}
