// Variables
// ========================================================================

@button-primary-background:                  darken(@global-primary-background, 4%);
@button-primary-hover-background:            darken(@button-primary-background, 15%);

@button-secondary-background:                lighten(@global-secondary-background, 2%);
@button-secondary-hover-background:          darken(@button-secondary-background, 25%);

@button-warning-background:                  darken(@global-warning-background, 8%);
@button-warning-color:                       @global-inverse-color;
@button-warning-hover-background:            darken(@button-warning-background, 12%);
@button-warning-hover-color:                 @global-inverse-color;
@button-warning-active-background:           darken(@button-warning-background, 16%);
@button-warning-active-color:                @global-inverse-color;

@button-gray-background:                     @global-gray-background;
@button-gray-color:                          @global-inverse-color;
@button-gray-hover-background:               darken(@button-gray-background, 5%);
@button-gray-hover-color:                    @global-inverse-color;
@button-gray-active-background:              darken(@button-gray-background, 10%);
@button-gray-active-color:                   @global-inverse-color;


/*
 * Warning
 */

.uk-button-warning {
  background: @button-warning-background;
  color: @button-warning-color;
  .hook-button-warning;
}

/* Hover + Focus */
.uk-button-warning:hover,
.uk-button-warning:focus {
  background-color: @button-warning-hover-background;
  color: @button-warning-hover-color;
  .hook-button-warning-hover;
}

/* OnClick + Active */
.uk-button-warning:active,
.uk-button-warning.uk-active {
  background-color: @button-warning-active-background;
  color: @button-warning-active-color;
  .hook-button-warning-active;
}



/*
 * Gray - use sparingly
 */


.uk-button-gray {
  background: @button-gray-background;
  color: @button-gray-color;
  .hook-button-gray;
}

/* Hover + Focus */
.uk-button-gray:hover,
.uk-button-gray:focus {
  background-color: @button-gray-hover-background;
  color: @button-gray-hover-color;
  .hook-button-gray-hover;
}

/* OnClick + Active */
.uk-button-gray:active,
.uk-button-gray.uk-active {
  background-color: @button-gray-active-background;
  color: @button-gray-active-color;
  .hook-button-gray-active;
}


// Hooks
// ========================================================================

.hook-button-warning() {}
.hook-button-warning-hover() {}
.hook-button-warning-active() {}
.hook-button-gray() {}
.hook-button-gray-hover() {}
.hook-button-gray-active() {}
