@color-choice-width: 130px;
@color-choice-height: 46px;

.chalkboard-background {
  background: url(chalkboard-bg.jpg);
  background-size: cover;

  h1 {
    color:white;
    max-width: 12em;
    font-family:'Crayon Crumble W00 Regular';
  }

  .uk-radio:checked, .uk-checkbox:checked, .uk-checkbox:indeterminate {
    background-color: white;
    background-image: none;
  }

  .radio-wrapper {
    transition: transform 500ms;
    transform: translateY(20px);
  }

  .color-choice-div {
    transition: transform 500ms;

    &:nth-of-type(2) {
      -ms-transform: translate(1*@color-choice-width, -1*@color-choice-height);
      transform: translate(1*@color-choice-width, -1*@color-choice-height);
    }
    &:nth-of-type(3) {
      -ms-transform: translate(2*@color-choice-width, -2*@color-choice-height);
      transform: translate(2*@color-choice-width, -2*@color-choice-height);
    }
    &:nth-of-type(4) {
      -ms-transform: translate(3*@color-choice-width, -3*@color-choice-height);
      transform: translate(3*@color-choice-width, -3*@color-choice-height);
    }
    &:nth-of-type(5) {
      -ms-transform: translate(4*@color-choice-width, -4*@color-choice-height);
      transform: translate(4*@color-choice-width, -4*@color-choice-height);
    }
  }

  @media (max-width: @breakpoint-medium) {
    .radio-wrapper {
      transform: none;
    }

    .color-choice-div {
      display: inline-table;
      margin-right: 20px;

      &:nth-of-type(2) {
        -ms-transform: none;
        transform: none;
      }
      &:nth-of-type(3) {
        -ms-transform: none;
        transform: none;
      }
      &:nth-of-type(4) {
        -ms-transform: none;
        transform: none;
      }
      &:nth-of-type(5) {
        -ms-transform: none;
        transform: none;
      }
    }

  }
  @media (max-width: @breakpoint-small) {
    h1 {
      font-size: 24px;
    }
  }

}