.bt-cursive {
  font-family: 'Sacramento', cursive;
}



.bt-avatar-small {
  height: 26px;
  max-width: 26px;
  border-radius: 100px;
}


.title-default {
  padding-top: 60px;
}




/* UIKit doesn't auto-formate a.active, so I copied the attrs here */
.sidebar-nav li > a.active {
  color: #fff;
}





.bt-button-icon-large {
  padding-top: 7px;
  height: 53px;

  i {
    font-size: 36px;
  }
}

.bt-green-on-hover {
  color: #ccc;
  opacity: .4;
  &:hover {
    color: #4BC0C0;
    opacity: 1;
  }
}


/* Branding logo with text, shown in navbar and on login,register,password reset pages */

.bt-brand-default img {
  padding-left: 15px;
  vertical-align: top;
  margin-top: 5px;
  height: 40px;
  width: auto;
  padding-right: 5px;
}
.bt-brand-default div {
  font-size: 40px;
  display: inline-block;
  padding-top: 4px;
  margin-bottom: -14px;
}

.bt-yellow-background {
  background: #ffff99;
}

.bt-gray-background {
  background: #FAFAFA;
}

.bt-text-xl {
  font-size: 40px !important;
}

@media (max-width: 1150px) {
  .bt-text-xl {
    font-size: 30px !important;
  }
}

@media (max-width: 600px) {
  .bt-text-xl {
    font-size: 20px !important;
  }
}

.bt-todo-dash-icon {
  width: 100px;
  height: auto;
}

.bt-hero h1 {
  font-family: 'Sacramento';
  font-size: 72px;
  line-height: 72px;
  color: #FBFF12;
  text-shadow: 1px 1px #000;
  text-align: center;
}
.bt-hero.bt-hero-muted h1 {
  color:white;
}

@media (max-width: 750px) {
  .bt-hero h1 {
    max-width: 300px;
    margin: auto;
  }
}

.bt-hero p {
  color: white;
  text-shadow: 1px 1px #000;
  text-align: center;
  max-width: 80%;
  margin: auto;
}

.KICKASSELEMENT iframe {
  display: none;
}


.chevron-next-div a:hover {
  color: white;
  text-decoration: none;
}
.chevron-next-div.right {
  opacity: 0;
  transition: opacity 2000ms;
  width: 200px;
  position: absolute;
  right: -60px;
  bottom: 10px;
  .continue-text {
    margin: -20px 0 0 35px;
  }
}
.chevron-next-div.left {
  opacity: 0;
  transition: opacity 2000ms;
  width: 200px;
  position: absolute;
  left: 0;
  top: 35vh;
  text-align: right;
}
.chevron-next-div.down {
  opacity: 0;
  transition: opacity 2000ms;
  height: 200px;
  position: absolute;
  bottom: 0;
  left: 0;
  right: 0;
  text-align: center;
}

@media (max-width: @breakpoint-medium) {
  .chevron-next-div.left, .chevron-next-div.right, .chevron-next-div.down {
    margin-left: auto;
    margin-right: auto;
    position: static;
    margin-top: 40px;
  }
}