// Variables
// ========================================================================

@navbar-height:                                 @global-navbar-height;
@navbar-background:                             @global-navbar-background;
@navbar-color:                                  @global-navbar-color;
@navbar-hover-background:                       lighten(@navbar-background, 10%); // note that layering a dark opacity background will darken
@navbar-hover-color:                            @global-inverse-color;
@navbar-active-background:                      darken(@navbar-hover-background, 10%);
@navbar-active-color:                           @global-inverse-color;


.uk-navbar, .uk-navbar-container:not(.uk-navbar-transparent) {
  background: @navbar-background;

  &.navbar-top {
    height: @navbar-height;
    margin-bottom: -@navbar-height;

    .uk-navbar-nav, .uk-navbar-nav > li > a {
      height: @navbar-height;
    }

  }

  &.navbar-bottom {
    background: fade(@navbar-background, 100%);
  }

  li > a {
    &.active {
      background: @navbar-active-background;
      color: @navbar-active-color;
    }
    &:hover {
      background: @navbar-hover-background;
      color: @navbar-hover-color;
    }
  }

}