<div class="uk-align-right@s uk-margin-remove-bottom">
  © 2017 Benevolent Tech
  <div class="uk-text-small">
    {{#link-to 'privacy-policy' class="bt-link-normal uk-link-muted"}}Privacy Policy{{/link-to}} {{#link-to 'terms-of-service' class="bt-link-normal uk-link-muted"}}Terms of Service{{/link-to}}
  </div>
</div>
<div class="uk-clearfix"></div>
