<nav class="uk-navbar-container uk-position-z-index uk-visible@s uk-light navbar-top" uk-navbar>

  <div class="uk-navbar-left">
    {{#link-to 'layout-info.index' class="uk-navbar-logo bt-cursive uk-link-muted bt-brand-default"}}
      <img src="{{brandLogoUrl}}" /><div class="uk-visible@s">benevolent tech</div>
    {{/link-to}}

  </div>

  <div class="uk-navbar-right">

    <ul class="uk-navbar-nav">
      <li><a href="javascript:void(0)" uk-toggle="target: #search-offcanvas"><i class="material-icons">search</i></a></li>
      <li>{{#link-to 'layout-default.dash'}}<i class="material-icons">home</i>{{/link-to}}</li>
      <li>{{#link-to 'layout-default.settings'}}<i class="material-icons">settings</i>{{/link-to}}</li>
      <li><a {{action 'invalidateSession'}}><i class="material-icons">exit_to_app</i></a></li>
    </ul>
  </div> <!-- navbar-right -->
</nav>


<div id="search-offcanvas" class="uk-offcanvas" uk-offcanvas="flip:true;overlay:true">
  <div class="uk-offcanvas-bar">
    <div class="uk-grid-small" uk-grid>
      <div class="uk-width-1-1">
        <div class="uk-grid-small" uk-grid>
          <h3 class="uk-width-expand">Search Todos:</h3>
          <button class="uk-close-large uk-width-auto uk-button uk-button-link uk-light" uk-toggle="target: #search-offcanvas" type="button"><i class="material-icons">close</i></button>
        </div>
      </div>
      <div class="uk-width-1-1">
        {{input placeholder='enter search here...' type='text' value=searchQuery class="uk-input"}}
      </div>
    </div>
    <hr>
    <ul class="uk-list">
      {{#each todos as |todo|}}
      <li uk-toggle="target: #search-offcanvas" class="uk-position-relative">
        {{#link-to 'todo-entry' todo class="uk-position-cover uk-position-z-index"}}{{/link-to}}
        <div class="uk-card uk-card-small uk-card-default uk-card-body bt-cursor-pointer bt-yellow-background">
          <div class="uk-position-z-index uk-position-top-right uk-margin-small-right" style="margin-top: 5px;">
            {{#if todo.is_urgent}}
              <i class="material-icons" style="color:#FF6384">alarm</i>
            {{/if}}
          </div>
          {{todo.task}}
        </div>
      </li>
      {{/each}}
    </ul>
  </div>
</div>

<nav class="uk-navbar-container uk-position-z-index uk-hidden@s uk-position-fixed uk-position-bottom uk-light navbar-bottom" uk-navbar>
  <div class="uk-navbar-left uk-width-1-1">
    <ul class="uk-navbar-nav uk-width-1-1">
      <li style="width:33%;">{{#link-to 'layout-default.dash'}}<i class="material-icons">home</i>{{/link-to}}</li>
      <li style="width:34%;">{{#link-to 'layout-default.settings'}}<i class="material-icons">settings</i>{{/link-to}}</li>
      <li style="width:33%;">{{#link-to 'todo-entry' 'add-urgent'}}<i class="material-icons">add</i>{{/link-to}}</li>
    </ul>
  </div>
</nav>