<nav class="uk-navbar-container uk-position-z-index uk-light navbar-top" uk-navbar>

  <div class="uk-navbar-left">
    {{#link-to 'layout-info.index' class="uk-navbar-logo bt-cursive uk-link-muted bt-brand-default"}}
      <img src="{{brandLogoUrl}}" /><div class="uk-visible@s">benevolent tech</div>
    {{/link-to}}

  </div>

  <div class="uk-navbar-right">

    <ul class="uk-navbar-nav uk-visible@s">
      <li>{{#link-to 'layout-info.index'}}Start{{/link-to}}</li>
      <li>{{#link-to 'layout-info.contrast'}}Contrast{{/link-to}}</li>
      <li>{{#link-to 'layout-info.benefit2'}}Benefit 2{{/link-to}}</li>
      <li>{{#link-to 'layout-info.connect'}}Connect{{/link-to}}</li>
      {{!--<li>{{#link-to 'layout-info.article-list' class="uk-visible@s"}}Blog &nbsp;<i class="material-icons">rss_feed</i>{{/link-to}}</li>--}}
      <li><a href="javascript:void(0)" uk-toggle="target: #nav-off-canvas" class="uk-navbar-toggle" uk-navbar-toggle-icon></a></li>
    </ul>

    <ul class="uk-navbar-nav uk-hidden@s">
      <li><a href="javascript:void(0)" uk-toggle="target: #nav-off-canvas" class="uk-navbar-toggle" uk-navbar-toggle-icon></a></li>
    </ul>

    {{!--
    {{#if session.isAuthenticated}}
    {{else}}
      <div class="uk-navbar-item">
        {{#link-to 'login' class="uk-button uk-button-default uk-button-medium uk-visible@s"}}Test-drive{{/link-to}}
      </div>
    {{/if}}
    --}}

  </div> <!-- navbar-right -->
</nav>

{{!-- Exmaple of how to do a navbar dropdown
<li>
  <a href="javascript:void(0)">
    <img src="{{gravatarUrl}}" alt="Profile image" class="bt-avatar-small uk-margin-small-right">
    {{userGreeting}}<span class="uk-icon" uk-icon="icon: chevron-down"></span>
  </a>
  <div uk-dropdown="mode: click" id="account-dropdown">
    <ul class="uk-nav uk-navbar-dropdown-nav">
        <li uk-toggle="target: #account-dropdown">
          {{#link-to 'layout-default.dash'}}<span class="uk-margin-small-right uk-icon" uk-icon="icon: home"></span>Dashboard{{/link-to}}
        </li>
        <li uk-toggle="target: #account-dropdown">
          {{#link-to 'layout-default.settings'}}<span class="uk-margin-small-right uk-icon" uk-icon="icon: cog"></span>Settings{{/link-to}}
        </li>
        <li uk-toggle="target: #account-dropdown">
          <a {{action 'invalidateSession'}}><span class="uk-margin-small-right uk-icon" uk-icon="icon: sign-out"></span>Logout</a>
        </li>
    </ul>
  </div>
</li>
--}}

<!--<a href="javascript:void(0)" uk-toggle="target: #nav-off-canvas" class="uk-navbar-toggle uk-hidden@s" uk-navbar-toggle-icon></a>-->
<div id="nav-off-canvas" class="uk-offcanvas" uk-offcanvas="flip:true;overlay:true">
  <div class="uk-offcanvas-bar">
    {{!--
    <div class="uk-grid uk-grid-small uk-margin-medium-bottom">
      <h3 class="uk-width-expand bt-cursive">
        {{#link-to 'layout-info.index' class="bt-cursive uk-link-muted bt-brand-default bt-brand-small"}}
          <img src="{{brandLogoUrl}}" />
        {{/link-to}}
      </h3>
      <button class="uk-close-large uk-width-auto uk-button uk-button-link uk-light" uk-toggle="target: #nav-off-canvas" type="button"><i class="material-icons">close</i></button>
    </div>
    --}}

    <button class="uk-close-large uk-position-small uk-position-top-right uk-button uk-button-link uk-light " uk-toggle="target: #nav-off-canvas" type="button"><i class="material-icons">close</i></button>
    {{!--<div class="uk-text-center uk-margin-small">
      {{#link-to 'layout-info.index' class="uk-link-muted bt-cursive bt-brand-default bt-brand-small"}}
        <img src="{{brandLogoUrl}}" />
      {{/link-to}}
    </div>
    <hr>
    --}}

    <ul class="uk-nav uk-nav-default uk-nav-parent-icon sidebar-nav" uk-nav>
      {{!--<li class="uk-nav-header">Separator 1</li>--}}
      <li uk-toggle="target: #nav-off-canvas">{{#link-to 'layout-info.index' class="uk-h3" }}Start{{/link-to}}</li>
      <li uk-toggle="target: #nav-off-canvas">{{#link-to 'layout-info.contrast' class="uk-h3" }}Contrast{{/link-to}}</li>
      <li uk-toggle="target: #nav-off-canvas">{{#link-to 'layout-info.benefit2' class="uk-h3" }}Benefit 2{{/link-to}}</li>
      <li uk-toggle="target: #nav-off-canvas">{{#link-to 'layout-info.about-us' class="uk-h3" }}Our Story{{/link-to}}</li>
      <li uk-toggle="target: #nav-off-canvas">{{#link-to 'layout-info.connect' class="uk-h3" }}Connect{{/link-to}}</li>
      <li uk-toggle="target: #nav-off-canvas">{{#link-to 'layout-info.article-list' class="uk-h3"}}Blog{{/link-to}}</li>

      {{!--
      {{#if session.isAuthenticated}}
        <li class="uk-parent">
          <a href="#">Account</a>
          <ul class="uk-nav-sub">
            <li>{{#link-to 'layout-default.dash'}}<i class="uk-icon-home uk-margin-small-right"></i>Dashboard{{/link-to}}</li>
            <li>{{#link-to 'layout-default.settings'}}<i class="uk-icon-cog uk-margin-small-right"></i>Settings{{/link-to}}</li>
            <li><a {{action 'invalidateSession'}}><i class="uk-icon-sign-out uk-margin-small-right"></i>Logout</a></li>
          </ul>
        </li>
      {{else}}
        <li>{{#link-to 'login'}}<i class="uk-icon-home uk-margin-small-right"></i>Dashboard{{/link-to}}</li>
      {{/if}}
      --}}

    </ul>
  </div>
</div>
