<div class="uk-section uk-section-small">
  <div class="uk-container">

    <div class="uk-visible@s">
      {{#title-default}}Todos{{/title-default}}
      <p>Feel free to drag between columns.</p>
    </div>

    <div class="uk-hidden@s">
      <div class="uk-width-1-1">
        {{input placeholder='search todos...' type='text' value=searchQuery class="uk-input"}}
      </div>
    </div>

    {{#if searchQuery}}
      <ul class="uk-list">
        {{#each searchResults as |todo|}}
        <li todo-id="{{todo.id}}">
          <div class="uk-card uk-card-default uk-card-body bt-cursor-pointer bt-yellow-background">
            {{#link-to 'todo-entry' todo class="uk-position-cover"}}{{/link-to}}
            <div class="uk-position-z-index uk-position-top-right uk-margin-small-right" style="margin-top: 5px;">
              <button class="uk-button uk-button-link uk-text-large uk-visible@s" {{action 'todoMarkFinished' todo}}><i class="material-icons bt-green-on-hover">check_circle</i></button>
              {{#if todo.is_urgent}}
                <i class="material-icons uk-hidden@s" style="color:#FF6384">alarm</i>
              {{/if}}
            </div>
            {{todo.task}}
          </div>
        </li>
        {{else}}
          <li>None found.</li>
        {{/each}}
      </ul>
    {{else}}

      <div uk-grid>
        <div class="uk-width-1-2@s uk-width-1-3@m">
          <h4 class="uk-h3 uk-text-center uk-visible@s">Urgent</h4>
          {{#link-to 'todo-entry' 'add-urgent' class="uk-button uk-button-default uk-border-rounded uk-width-1-1 uk-visible@s"}}<i class="material-icons uk-padding-small">add</i>{{/link-to}}
          <ul class="uk-list" uk-sortable="group: todos; cls-custom: uk-dragover" id="todosUrgentColumn">
            {{#each model.todosUrgent as |todo|}}
            <li todo-id="{{todo.id}}">
              <div class="uk-card uk-card-default uk-card-body bt-cursor-pointer bt-yellow-background">
                {{#link-to 'todo-entry' todo class="uk-position-cover"}}{{/link-to}}
                <div class="uk-position-z-index uk-position-top-right uk-margin-small-right" style="margin-top: 5px;">
                  <button class="uk-button uk-button-link uk-text-large uk-visible@s" {{action 'todoMarkFinished' todo}}><i class="material-icons bt-green-on-hover">check_circle</i></button>
                  <i class="material-icons uk-hidden@s" style="color:#FF6384">alarm</i>
                </div>
                {{todo.task}}
              </div>
            </li>
            {{else}}

            {{/each}}
          </ul>
        </div>

        <div class="uk-width-1-2@s uk-width-1-3@m uk-margin-remove-top">
          <h4 class="uk-h3 uk-text-center uk-visible@s">Upcoming</h4>
          {{#link-to 'todo-entry' 'add-urgent' class="uk-button uk-button-default uk-border-rounded uk-width-1-1 uk-visible@s"}}<i class="material-icons uk-padding-small">add</i>{{/link-to}}
          <ul class="uk-list" uk-sortable="group: todos; cls-custom: uk-dragover" id="todosUpcomingColumn">
            {{#each model.todosUpcoming as |todo|}}
              <li todo-id="{{todo.id}}">
                <div class="uk-card uk-card-default uk-card-body bt-cursor-pointer bt-yellow-background">
                  {{#link-to 'todo-entry' todo class="uk-position-cover"}}{{/link-to}}
                  <div class="uk-position-z-index uk-position-top-right uk-margin-small-right" style="margin-top: 5px;">
                    <button class="uk-button uk-button-link uk-text-large uk-visible@s" {{action 'todoMarkFinished' todo}}><i class="material-icons bt-green-on-hover">check_circle</i></button>
                  </div>
                  {{todo.task}}
                </div>
              </li>
            {{else}}

            {{/each}}
          </ul>
        </div>

        <div class="uk-visible@m uk-width-1-3@m">
          {{!--ember-chart type='pie' data=todoChart1 width=200 height=200 --}}
          <canvas id="todoChart1" width=200 height=200></canvas>
        </div>
      </div>

    {{/if}}
  </div>
</div>