<div class="uk-section uk-section-small">
  <div class="uk-container">

    <div class="uk-width-1-2@s uk-overflow-hidden">

      {{#title-default}}Account Settings{{/title-default}}

      <p>Click text to edit.</p>


      <table class="uk-table uk-table-striped uk-table-hover uk-table-middle uk-table-small">
        <tbody>
          <tr>
            <td class="uk-width-1-4">Email</td>
            <td class="uk-width-3-4">{{#input class="uk-form-blank uk-input uk-form-width-medium" value=model.email}}{{/input}}</td>
          </tr>
          <tr>
            <td class="uk-width-1-4">Name</td>
            <td class="uk-width-3-4">
              {{#input class="uk-form-blank uk-input uk-form-width-small" value=model.first_name}}{{/input}}
              {{#input class="uk-form-blank uk-input uk-form-width-medium" value=model.last_name}}{{/input}}
            </td>
          </tr>

          <tr>
            <td class="uk-width-1-4">Password</td>
            <td class="uk-width-3-4">{{#input class="uk-form-blank uk-input uk-form-width-medium" value=model.password placeholder="*********"}}{{/input}}</td>
          </tr>
          <tr>
            <td class="uk-width-1-4">Payment Card</td>
            <td class="uk-width-3-4">{{#input class="uk-form-blank uk-input uk-form-width-large" placeholder="****-****-****-4332"}}{{/input}}</td>
          </tr>
        </tbody>
      </table>

      {{#link-to 'layout-default.dash' class="uk-button uk-button-default"}}Save{{/link-to}}
      {{#link-to 'layout-default.dash' class="uk-button uk-button-default"}}Cancel{{/link-to}}

    </div>

  </div>
</div>