<div class="uk-section uk-section-small">
  <div class="uk-container uk-container-small">
    <div class="uk-align-center uk-width-1-2">

      {{#title-default}}User Settings{{/title-default}}

      <ul>
        <li>Username: {{model.username}}</li>
        <li>Email: {{model.email}}</li>
      </ul>

    </div>

  </div>
</div>