<div class="uk-section uk-section-small">
  <div class="uk-container">

    {{#title-default}}Users{{/title-default}}

    <table class="uk-table">
      <thead>
      <tr>
        <th>Username</th>
        <th>Email</th>
      </tr>
      </thead>
      <tbody>
      {{#each model as |user|}}
      <tr>
          <td>{{#link-to 'user-entry' user}}{{user.username}}{{/link-to}}</td>
          <td>{{user.email}}</td>
      </tr>
      {{else}}
      <tr>
          <td>None</td><td></td>
      </tr>
      {{/each}}
      </tbody>
    </table>

  </div>
</div>