<div class="uk-section uk-section-small">
  <div class="uk-container">

    <div class="uk-width-1-2 uk-align-center">

      {{#title-default}}Oops...{{/title-default}}

      <p>Sorry, we can't find the page you seek.</p>
    </div>
  </div>
</div>