<div class="uk-section uk-section-small">
  <div class="uk-container">

    {{#title-default}}Recent Articles{{/title-default}}

    {{#each model as |article|}}
      <div class="uk-flex-middle" uk-grid>
        <div class="uk-width-2-3@m">
          {{!-- {{#link-to 'article-entry' article class="bt-link-cover"}}{{/link-to}} --}}

          <h4 class="uk-4">{{article.title}}</h4>
          <p class="uk-article-meta">{{moment-calendar article.pub_date}}</p>
          <p >{{{article.excerpt}}}</p>
          <div class="uk-grid-small uk-child-width-auto" uk-grid>
            <div>
              {{#link-to 'layout-info.article-entry' article class="uk-button uk-button-text"}}Read more{{/link-to}}
            </div>
            <div>
              <a class="uk-button uk-button-text" href="#">5 Comments</a>
            </div>
          </div>
        </div>

        <div class="uk-width-1-3@m uk-flex-first">
          <img src="https://getuikit.com/docs/images/light.jpg" alt="Image">
        </div>
      </div>
    {{else}}
      <p>No Records Found</p>
    {{/each}}

  </div>
</div>