<div class="uk-section uk-section-small">
  <div class="uk-container">

    {{#title-default}}{{model.title}}{{/title-default}}

    <p class="uk-text-muted">{{moment-calendar model.pub_date}}</p>
    <p>{{{model.body}}}</p>

  </div>
</div>
