<div class="uk-background-cover uk-background-blend-darken" style="background-color: #E63B47; background-image: url(assets/bricks.jpg)">
  <div class="uk-container">
    <div style="display:table; table-layout:fixed;" class="uk-width-1-1"  uk-height-viewport="expand">
      <div style="display:table-cell; vertical-align: middle;">
        <div class="uk-width-3-4@s uk-width-2-3@l uk-align-center uk-text-center bt-hero">
          {{#title-default}}Impressions are important{{/title-default}}
          <p class="uk-text-large">Your product should elevate your brand and delight your customers.</p>
        </div>
      </div>
    </div>
    <div class="chevron-next-div down">{{#link-to 'layout-info.benefit2' class="uk-link uk-light"}}<i class="material-icons md-144">keyboard_arrow_down</i>{{/link-to}}</div>
  </div>
</div>