<div class="uk-background-cover uk-background-blend-darken" style="background-color: #555; background-image: url(assets/bricks.jpg)">
  <div class="uk-container">
    <div style="display:table; table-layout:fixed;" class="uk-width-1-1"  uk-height-viewport="expand">
      <div style="display:table-cell; vertical-align: middle;">
        <div class="uk-width-3-4@s uk-width-2-3@l uk-align-center uk-text-center bt-hero">

          {{#title-default}}Learn more...{{/title-default}}
          <div class="uk-grid-medium uk-margin-medium-bottom" uk-grid>
            <div class="uk-width-1-1">{{#link-to 'login' class="uk-button uk-button-large uk-button-primary uk-width-1-3@s"}}Try Out the Demo{{/link-to}}</div>
            <div class="uk-width-1-1">{{#link-to 'login' class="uk-button uk-button-large uk-button-secondary uk-width-1-3@s"}}Ask a Question{{/link-to}}</div>
            <div class="uk-width-1-1"><a target="_blank" href="https://bitbucket.org/benevolenttech/bt-framework" class="uk-button uk-button-large uk-button-danger uk-width-1-3@s">Explore the Code</a></div>
            <div class="uk-width-1-1">{{#link-to 'layout-info.about-us' class="uk-button uk-button-large uk-button-warning uk-width-1-3@s"}}About Us{{/link-to}}</div>
            <div class="uk-width-1-1 uk-visible@m"><a uk-toggle="target: #kickass-modal" class="uk-link" style="color:white; text-shadow: 1px 1px #000">Feeling Lucky?</a></div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>



<div id="kickass-modal" uk-modal style="display:none;">
  <div class="uk-modal-dialog uk-modal-body">
    <h2 class="uk-modal-title">Save Our Planet!</h2>
    <p>We're about to add an armed space ship to the page.  Use the direction arrows and space bar on your keyboard destroy the page!</p>
    <p>Credits to <a target="_blank" href="http://kickassapp.com/">kickassapp.com</a></p>
    <p class="uk-text-right">
      <button onclick="var KICKASSVERSION='2.0';var s=document.createElement('script');s.type='text/javascript';document.body.appendChild(s);s.src='//hi.kickassapp.com/kickass.js';" class="uk-button uk-button-primary uk-modal-close" type="button">Start</button>
    </p>
  </div>
</div>