<div class="chalkboard-background" uk-height-viewport="expand">
  <div class="uk-section">
    <div class="uk-container uk-container-small uk-padding-large">
      <h1 class="uk-h1">Which color is worst against a black background?</h1>

      <div class="uk-animation-fade">
        <hr>

        <div class="uk-grid-medium uk-grid-divider uk-width-2-3@m" uk-grid>
          <div class="uk-width-1-3@m" style="">
            <div class="radio-wrapper">
              <div class="uk-margin-small-bottom color-choice-div">{{#radio-button value="yellow" groupValue=colorChoice classNames="uk-text-large yellow" radioClass="uk-radio"}}
                Yellow{{/radio-button}}</div>
              <div class="uk-margin-small-bottom color-choice-div">{{#radio-button value="green" groupValue=colorChoice classNames="uk-text-large green" radioClass="uk-radio"}}
                Green{{/radio-button}}</div>
              <div class="uk-margin-small-bottom color-choice-div">{{#radio-button value="purple" groupValue=colorChoice classNames="uk-text-large purple" radioClass="uk-radio"}}
                Purple{{/radio-button}}</div>
              <div class="uk-margin-small-bottom color-choice-div">{{#radio-button value="orange" groupValue=colorChoice classNames="uk-text-large orange" radioClass="uk-radio"}}
                Orange{{/radio-button}}</div>
              <div class="uk-margin-small-bottom color-choice-div">{{#radio-button value="red" groupValue=colorChoice classNames="uk-text-large red" radioClass="uk-radio"}}Red{{/radio-button}}</div>
            </div>

          </div>

          {{#if showHintColumn}}
            <div class="uk-width-2-3@m">
              {{#if showSuccessHint}}
                <div id="colorChoiceSuccess" class="uk-animation-fade">
                  <h3 class="uk-h3 yellow">Correctamondo!</h3>
                  <p class="uk-light" style="color:#DDDDDD">Purple and black have a contrast score of 3.39, compared to 13.93 for yellow. We always exceed web standards for accessibility. If you're
                    curious, <a class="uk-button uk-button-text uk-text-bold" target="_blank" href="http://clrs.cc/a11y/">here</a> is an awesome resource to research combos.</p>
                </div>
              {{/if}}
              {{#if showErrorHint}}
                <div id="colorChoiceError" class="uk-animation-fade">
                  <h3 class="uk-h3 white">Oops! <span class="uk-hidden@s">Try again.</span></h3>
                  <p class="uk-visible@s white">Not quite, try again. Can't stop won't stop.</p>
                </div>
              {{/if}}
            </div>
          {{/if}}

        </div>

      </div>

    </div>
  </div>
</div>