<div class="brick-background" uk-height-viewport="expand">
  <div class="brick brick0 uk-visible@m">
    <div id="scratchpad0" style="width:266px;height:100px;">
      <p>More and more</p>
    </div>
  </div>
  <div class="brick brick1 uk-visible@m">
    <div id="scratchpad1" style="width:266px;height:100px;">
      <p>companies are only concerned with their own success,</p>
    </div>
  </div>
  <div class="brick brick2 uk-visible@m">
    <div id="scratchpad2" style="width:545px;height:105px;">
      <p>our motives are simply</p>
    </div>
  </div>
  <div class="brick brick3 uk-hidden@m">
    <div id="scratchpad3" style="width:100%;height:250px;">
      <p>Most companies are only concerned with their own success, our motives are just more <svg id="brick-bt-logo-mobile"><text x="0" y="40" fill="none" stroke="white" stroke-width="1" font-size="40">benevolent</text></svg></p>
    </div>
  </div>
  <svg id="brick-bt-logo"><text x="0" y="80" fill="none" stroke="white" stroke-width="1" font-size="80">benevolent</text></svg>
  <div class="chevron-next-div right">{{#link-to 'layout-info.contrast' class="uk-link uk-light"}}
    <div><i class="material-icons md-96">chevron_right</i></div>
    <div class="continue-text">continue</div>
  {{/link-to}}</div>
</div>