{{!--
<div class="uk-section uk-section-large">
  <div class="uk-container">
    {{#title-default}}Style Guide{{/title-default}}

    <select class="uk-select uk-form-width-small" style="margin: 20px 20px 20px 0px;">
      <option value="index.html">Overview</option>
      <option value="accordion.html">Accordion</option>
      <option value="alert.html">Alert</option>
      <option value="align.html">Align</option>
      <option value="animation.html">Animation</option>
      <option value="article.html">Article</option>
      <option value="background.html">Background</option>
      <option value="badge.html">Badge</option>
      <option value="base.html">Base</option>
      <option value="breadcrumb.html">Breadcrumb</option>
      <option value="button.html">Button</option>
      <option value="card.html">Card</option>
      <option value="close.html">Close</option>
      <option value="column.html">Column</option>
      <option value="comment.html">Comment</option>
      <option value="container.html">Container</option>
      <option value="cover.html">Cover</option>
      <option value="description-list.html">Description List</option>
      <option value="divider.html">Divider</option>
      <option value="dotnav.html">Dotnav</option>
      <option value="drop.html">Drop</option>
      <option value="dropdown.html">Dropdown</option>
      <option value="flex.html">Flex</option>
      <option value="form.html">Form</option>
      <option value="grid.html">Grid</option>
      <option value="heading.html">Heading</option>
      <option value="height-expand.html">Height Expand</option>
      <option value="height-viewport.html">Height Viewport</option>
      <option value="icon.html">Icon</option>
      <option value="iconnav.html">Iconnav</option>
      <option value="label.html">Label</option>
      <option value="lightbox.html">Lightbox</option>
      <option value="link.html">Link</option>
      <option value="list.html">List</option>
      <option value="margin.html">Margin</option>
      <option value="modal.html">Modal</option>
      <option value="nav.html">Nav</option>
      <option value="navbar.html">Navbar</option>
      <option value="notification.html">Notification</option>
      <option value="offcanvas.html">Offcanvas</option>
      <option value="overlay.html">Overlay</option>
      <option value="padding.html">Padding</option>
      <option value="pagination.html">Pagination</option>
      <option value="placeholder.html">Placeholder</option>
      <option value="position.html">Position</option>
      <option value="progress.html">Progress</option>
      <option value="scroll.html">Scroll</option>
      <option value="scrollspy.html">Scrollspy</option>
      <option value="search.html">Search</option>
      <option value="section.html">Section</option>
      <option value="slidenav.html">Slidenav</option>
      <option value="sortable.html">Sortable</option>
      <option value="spinner.html">Spinner</option>
      <option value="sticky.html">Sticky</option>
      <option value="subnav.html">Subnav</option>
      <option value="switcher.html">Switcher</option>
      <option value="tab.html">Tab</option>
      <option value="table.html">Table</option>
      <option value="text.html">Text</option>
      <option value="toggle.html">Toggle</option>
      <option value="tooltip.html">Tooltip</option>
      <option value="totop.html">Totop</option>
      <option value="transition.html">Transition</option>
      <option value="upload.html">Upload</option>
      <option value="utility.html">Utility</option>
      <option value="visibility.html">Visibility</option>
      <option value="width.html">Width</option>
    </select><select class="uk-select uk-form-width-small" style="margin: 20px;">
    <option value="core">Core</option>
    <option value="theme">Theme</option>
  </select><select class="uk-select uk-form-width-small" style="margin: 20px;">
    <option value="default">Default</option>
    <option value="light">Dark</option>
    <option value="dark">Light</option>
  </select><label style="margin: 20px;"><input type="checkbox" class="uk-checkbox uk-form-width-small"><span style="margin:5px;">RTL</span></label></div>

  <nav class="uk-navbar-container uk-margin">
    <div class="uk-container">
      <div uk-navbar="" class="uk-navbar">
        <div class="uk-navbar-left">

          <a class="uk-navbar-item uk-logo" href="#">Logo</a>

          <ul class="uk-navbar-nav">
            <li class="uk-active"><a href="#">Active</a></li>
            <li>
              <a href="#">Parent</a>
              <div class="uk-navbar-dropdown">
                <ul class="uk-nav uk-navbar-dropdown-nav">
                  <li class="uk-active"><a href="#">Active</a></li>
                  <li class="uk-parent">
                    <a href="#">Parent</a>
                    <ul class="uk-nav-sub">
                      <li><a href="#">Sub item</a></li>
                      <li><a href="#">Sub item</a></li>
                    </ul>
                  </li>
                  <li class="uk-nav-header">Header</li>
                  <li><a href="#"><i class="material-icons">rss_feed</i> Item</a></li>
                  <li><a href="#"><i class="material-icons">rss_feed</i> Item</a></li>
                  <li class="uk-nav-divider"></li>
                  <li><a href="#"><i class="material-icons">rss_feed</i> Item</a></li>
                </ul>
              </div>
            </li>
            <li><a href="#">Item</a></li>
            <li><a href="#">Item</a></li>
          </ul>

        </div>
        <div class="uk-navbar-right">
          <a class="uk-navbar-toggle uk-search-icon" href="https://getuikit.com/assets/uikit/tests/index.html#modal" uk-search-icon="" uk-toggle="">

          </a>
          <a class="uk-navbar-toggle uk-navbar-toggle-icon" href="https://getuikit.com/assets/uikit/tests/index.html#offcanvas" uk-navbar-toggle-icon="" uk-toggle="">

          </a>
        </div>
      </div>
    </div>
  </nav>

  <div class="uk-section uk-section-small">
    <div class="uk-container">

      <div class="uk-child-width-expand@m uk-grid" uk-grid="">
        <div class="uk-first-column">

          <ul class="uk-breadcrumb">
            <li><a href="#">Home</a></li>
            <li><a href="#">Blog</a></li>
            <li class="uk-disabled"><a href="#">Category</a></li>
            <li><span>Post</span></li>
          </ul>

          <article class="uk-article">

            <h1 class="uk-article-title"><a class="uk-link-reset" href="https://getuikit.com/assets/uikit/tests/index.html">Article Title</a></h1>

            <p class="uk-article-meta">Written by <a href="#">Super User</a> on 12 April 2012. Posted in <a
              href="#">Blog</a></p>

            <div class="uk-grid-small uk-child-width-1-2@m uk-grid" uk-grid="">
              <div class="uk-first-column">
                <div class="uk-inline-clip">
                  <img src="https://getuikit.com/assets/uikit/tests/images/photo.jpg" alt="">
                  <div class="uk-overlay uk-overlay-default uk-position-bottom uk-padding-small">
                    <p>Default Lorem ipsum dolor sit amet.</p>
                  </div>
                </div>
              </div>
              <div>
                <div class="uk-inline-clip">
                  <img src="https://getuikit.com/assets/uikit/tests/images/photo.jpg" alt="">
                  <div class="uk-overlay uk-overlay-primary uk-position-bottom uk-padding-small">
                    <p>Primary Lorem ipsum dolor sit amet.</p>
                  </div>
                </div>
              </div>
            </div>

            <p class="uk-text-lead">Lead volutpat, commodo elit nibh ligula gravida. Magna auctor, eget venenatis, id phasellus luctus sodales, nam pulvinar.</p>

            <p class="uk-column-divider uk-column-1-2">Lorem ipsum dolor sit amet, nulla varius ac quis, elementum pellentesque sed rhoncus lacus venenatis, mauris adipiscing tortor. Orci elit nam donec
              integer sed ullamcorper, ut sed et. Consectetuer vel suspendisse purus sit laoreet, etiam convallis quis. Porttitor blandit auctor at porttitor nonummy.</p>

            <p class="uk-text-large">Large ornare venenatis scelerisque sapien in elit. Fusce rutrum quisque tellus mauris dolor, per malesuada leo.</p>

            <p>
              <small>Small path of the righteous man is beset on all sides by the iniquities of the selfish and the tyranny of evil men. Blessed is he who, in the name of charity and good will,
                shepherds the weak through the valley of darkness.
              </small>
            </p>

            <pre><code>&lt;div class="myclass"&gt;...&lt;div&gt;</code></pre>

            <p>
              <span class="uk-label">Default</span>
              <span class="uk-label uk-label-success">Success</span>
              <span class="uk-label uk-label-warning">Warning</span>
              <span class="uk-label uk-label-danger">Danger</span>
              <a class="uk-badge" href="#">1</a>
            </p>

            <hr>

            <div class="uk-child-width-1-3@m uk-grid" uk-grid="">
              <div class="uk-first-column">

                <ul class="uk-list">
                  <li><a href="#">a element</a></li>
                  <li><abbr title="Title text">abbr element</abbr></li>
                  <li><code>code element</code></li>
                  <li>
                    <del>del element</del>
                  </li>
                  <li><dfn title="Title text">dfn element</dfn></li>
                  <li><a href="https://getuikit.com/assets/uikit/tests/index.html" class="uk-link-muted">Link Muted</a></li>
                </ul>

              </div>
              <div>

                <ul class="uk-list">
                  <li><em>em element</em></li>
                  <li>
                    <ins>ins element</ins>
                  </li>
                  <li>
                    <mark>mark element</mark>
                  </li>
                  <li><q>q <q>inside</q> a q</q></li>
                  <li><strong>strong element</strong></li>
                  <li class="uk-text-meta">Text Meta</li>
                </ul>

              </div>
              <div>

                <ul class="uk-list">
                  <li class="uk-text-muted">Text Muted</li>
                  <li class="uk-text-primary">Text Primary</li>
                  <li class="uk-text-success">Text Success</li>
                  <li class="uk-text-warning">Text Warning</li>
                  <li class="uk-text-danger">Text Danger</li>
                </ul>

              </div>
            </div>

            <h1 class="uk-heading-primary uk-text-center">Primary Heading</h1>

            <hr class="uk-divider-icon">

            <blockquote cite="#">
              <p>The blockquote element represents content that is quoted from another source, optionally with a citation which must be within a footer or cite element.</p>
              <footer>Someone famous in <cite><a href="https://getuikit.com/assets/uikit/tests/index.html">Source Title</a></cite></footer>
            </blockquote>

            <div class="uk-grid-small uk-grid" uk-grid="">
              <div class="uk-first-column">
                <a class="uk-button uk-button-text" href="#">Read more</a>
              </div>
              <div>
                <a class="uk-button uk-button-text" href="#">5 Comments</a>
              </div>
            </div>

          </article>

          <ul class="uk-comment-list">
            <li>
              <article class="uk-comment uk-visible-toggle">
                <header class="uk-comment-header uk-position-relative">
                  <div class="uk-grid-medium uk-flex-middle uk-grid" uk-grid="">
                    <div class="uk-width-auto uk-first-column">
                      <img class="uk-comment-avatar" src="https://getuikit.com/assets/uikit/tests/images/avatar.jpg" width="50" alt="">
                    </div>
                    <div class="uk-width-expand">
                      <h4 class="uk-comment-title uk-margin-remove"><a class="uk-link-reset" href="#">Author</a></h4>
                      <p class="uk-comment-meta uk-margin-remove-top"><a class="uk-link-reset" href="#">12 days ago</a></p>
                    </div>
                  </div>
                  <div class="uk-position-top-right uk-position-small uk-hidden-hover"><a class="uk-link-muted" href="#">Reply</a></div>
                </header>
                <div class="uk-comment-body">
                  <p>Lorem ipsum dolor sit amet, consetetur sadipscing elitr, sed diam nonumy eirmod tempor invidunt ut labore.</p>
                </div>
              </article>
            </li>
          </ul>

          <ul class="uk-pagination uk-flex-center" uk-margin="">
            <li class="uk-first-column"><a href="#"><span uk-pagination-previous="" class="uk-pagination-previous"></span></a></li>
            <li><a href="#">1</a></li>
            <li class="uk-disabled"><span>...</span></li>
            <li><a href="#">4</a></li>
            <li><a href="#">5</a></li>
            <li><a href="#">6</a></li>
            <li class="uk-active"><span>7</span></li>
            <li><a href="#">8</a></li>
            <li><a href="#">9</a></li>
            <li><a href="#">10</a></li>
            <li class="uk-disabled"><span>...</span></li>
            <li><a href="#">20</a></li>
            <li><a href="#"><span uk-pagination-next="" class="uk-pagination-next"></span></a></li>
          </ul>

        </div>
        <div>

          <div class="uk-child-width-expand@m uk-grid" uk-grid="">
            <div class="uk-first-column">

              <ul class="uk-margin uk-nav-default uk-nav-parent-icon uk-nav" uk-nav="">
                <li class="uk-active"><a href="#">Active</a></li>
                <li class="uk-parent">
                  <a href="#">Parent</a>
                  <ul class="uk-nav-sub" hidden="hidden" aria-hidden="true">
                    <li><a href="#">Sub item</a></li>
                  </ul>
                </li>
                <li class="uk-nav-divider"></li>
                <li class="uk-nav-header">Header</li>
                <li><a href="#"><i class="material-icons">rss_feed</i> Item</a></li>
              </ul>

              <h3 class="uk-heading-divider">Heading divider</h3>

              <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit.</p>

              <h3 class="uk-heading-bullet">Heading bullet</h3>

              <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit.</p>

              <div class="uk-inline uk-light">
                <img src="https://getuikit.com/assets/uikit/tests/images/dark.jpg" alt="">
                <div class="uk-position-center">
                  <span uk-overlay-icon="" class="uk-overlay-icon"></span>
                </div>
              </div>
              <div class="uk-margin-medium">
                <h1 class="uk-margin-small">H1 heading</h1>
                <h2 class="uk-margin-small">H2 heading</h2>
                <h3 class="uk-margin-small">H3 heading</h3>
                <h4 class="uk-margin-small">H4 heading</h4>
                <h5 class="uk-margin-small">H5 heading</h5>
                <h6 class="uk-margin-small">H6 heading</h6>
              </div>

            </div>
            <div>

              <div class="uk-margin">
                <form class="uk-search uk-search-default uk-width-1-1">
                  <span uk-search-icon="" class="uk-search-icon"></span>
                  <input class="uk-search-input" type="search" placeholder="Search...">
                </form>
              </div>

              <div class="uk-margin uk-card uk-card-body uk-card-default uk-card-hover">
                <h3 class="uk-card-title">Default</h3>
                <p>Lorem ipsum <a href="#">dolor</a> sit amet, consectetur.</p>
              </div>

              <div class="uk-margin uk-card uk-card-body uk-card-primary uk-card-hover">
                <h3 class="uk-card-title">Primary</h3>
                <p>Lorem ipsum <a href="#">dolor</a> sit amet, consectetur.</p>
              </div>

              <div class="uk-margin uk-card uk-card-body uk-card-secondary uk-card-hover">
                <h3 class="uk-card-title">Secondary</h3>
                <p>Lorem ipsum <a href="#">dolor</a> sit amet, consectetur.</p>
              </div>

              <div class="uk-margin uk-card uk-card-body uk-card-hover">
                <h3 class="uk-card-title">Hover</h3>
                <p>Lorem ipsum <a href="#">dolor</a> sit amet, consectetur.</p>
              </div>

            </div>
          </div>

          <div class="uk-child-width-expand@m uk-grid uk-grid-stack" uk-grid="">
            <div class="uk-first-column">

              <div class="uk-grid-small uk-child-width-1-2 uk-grid" uk-grid="">
                <div class="uk-first-column">

                  <div uk-alert="" class="uk-alert">
                    <a href="#" class="uk-alert-close uk-close" uk-close="">

                    </a>
                    <p>Default</p>
                  </div>

                </div>
                <div>

                  <div class="uk-alert-primary uk-alert" uk-alert="">
                    <a href="#" class="uk-alert-close uk-close" uk-close="">

                    </a>
                    <p>Primary</p>
                  </div>

                </div>
                <div class="uk-grid-margin uk-first-column">

                  <div class="uk-alert-success uk-alert" uk-alert="">
                    <a href="#" class="uk-alert-close uk-close" uk-close="">

                    </a>
                    <p>Success</p>
                  </div>

                </div>
                <div class="uk-grid-margin">

                  <div class="uk-alert-warning uk-alert" uk-alert="">
                    <a href="#" class="uk-alert-close uk-close" uk-close="">

                    </a>
                    <p>Warning</p>
                  </div>

                </div>
                <div class="uk-grid-margin uk-first-column">

                  <div class="uk-alert-danger uk-alert" uk-alert="">
                    <a href="#" class="uk-alert-close uk-close" uk-close="">

                    </a>
                    <p>Danger</p>
                  </div>

                </div>
              </div>

            </div>
          </div>

          <div class="uk-child-width-expand@m uk-grid uk-grid-stack" uk-grid="">
            <div class="uk-first-column">
              <div class="uk-grid-small uk-flex uk-margin uk-grid" uk-grid="">
                <div class="uk-first-column">
                  <button class="uk-button uk-button-default">Default</button>
                </div>
                <div>
                  <button class="uk-button uk-button-primary">Primary</button>
                </div>
                <div>
                  <button class="uk-button uk-button-secondary">Secondary</button>
                </div>
                <div>
                  <button class="uk-button uk-button-danger">Danger</button>
                </div>

                <div class="uk-grid-margin uk-first-column">
                  <div class="uk-button-group">
                    <button class="uk-button uk-button-default">Group</button>
                    <div class="uk-inline">
                      <button class="uk-button uk-button-default"><i class="material-icons">rss_feed</i></button>
                      <div uk-dropdown="mode: click" class="uk-dropdown">
                        <ul class="uk-nav uk-dropdown-nav">
                          <li class="uk-active"><a href="#">Active</a></li>
                          <li class="uk-parent">
                            <a href="#">Parent</a>
                            <ul class="uk-nav-sub">
                              <li><a href="#">Sub item</a></li>
                              <li><a href="#">Sub item</a></li>
                            </ul>
                          </li>
                          <li class="uk-nav-header">Header</li>
                          <li><a href="#"><i class="material-icons">rss_feed</i> Item</a></li>
                          <li><a href="#"><i class="material-icons">rss_feed</i> Item</a></li>
                          <li class="uk-nav-divider"></li>
                          <li><a href="#"><i class="material-icons">rss_feed</i> Item</a></li>
                        </ul>
                      </div>
                    </div>
                  </div>
                </div>
                <div class="uk-grid-margin">
                  <button class="uk-button uk-button-default" disabled="">Disabled</button>
                </div>

              </div>


            </div>

          </div>

          <div class="uk-grid-small uk-flex uk-margin uk-grid" uk-grid="">
            <div class="uk-first-column">
              <i class="material-icons">rss_feed</i>

            </div>
            <div>
              <i class="material-icons">rss_feed</i>

            </div>
            <div>
              <i class="material-icons">rss_feed</i>

            </div>
            <div>
              <i class="material-icons">rss_feed</i>

            </div>
          </div>

          <div class="uk-child-width-expand@m uk-grid" uk-grid="">
            <div class="uk-first-column">

              <form class="uk-form-stacked">

                <div class="uk-margin-small">
                  <label class="uk-form-label">Text</label>
                  <input class="uk-input" type="text" placeholder="Some text...">
                </div>

                <div class="uk-margin-small">
                  <select class="uk-select">
                    <option>Option 01</option>
                    <option>Option 02</option>
                  </select>
                </div>

                <div class="uk-margin-small">
                  <textarea class="uk-textarea" rows="2" placeholder="Some text..."></textarea>
                </div>

                <div class="uk-grid-small uk-child-width-auto uk-grid" uk-grid="">
                  <div class="uk-first-column">
                    <label><input class="uk-radio" type="radio" name="radio"> Radio</label>
                  </div>
                  <div>
                    <label><input class="uk-checkbox" type="checkbox"> Checkbox</label>
                  </div>
                </div>

              </form>

            </div>
            <div>

              <form class="uk-form-stacked">

                <div class="uk-margin-small">
                  <label class="uk-form-label">States</label>
                  <input class="uk-input" type="text" placeholder=":disabled" disabled="">
                </div>

                <div class="uk-margin-small">
                  <input class="uk-input uk-form-danger" type="text" placeholder="form-danger" value="form-danger">
                </div>
                <div class="uk-margin-small">
                  <input class="uk-input uk-form-success" type="text" placeholder="form-success" value="form-success">
                </div>
                <div class="uk-margin-small">
                  <input class="uk-input uk-form-blank" type="text" placeholder="form-blank">
                </div>

              </form>

            </div>
          </div>

        </div>
      </div>

      <hr>

      <div class="uk-grid-divider uk-child-width-expand@m uk-grid" uk-grid="">
        <div class="uk-first-column">

          <ul class="uk-subnav uk-subnav-divider" uk-margin="">
            <li class="uk-active uk-first-column"><a href="#">Active</a></li>
            <li><a href="#">Item</a></li>
            <li class="uk-disabled"><a href="#">Disabled</a></li>
          </ul>

        </div>
        <div>

          <ul class="uk-subnav uk-subnav-pill" uk-margin="">
            <li class="uk-active uk-first-column"><a href="#">Active</a></li>
            <li><a href="#">Item</a></li>
            <li class="uk-disabled"><a href="#">Disabled</a></li>
          </ul>

        </div>
        <div>

          <ul uk-tab="" class="uk-tab">
            <li class="uk-active" aria-expanded="true"><a href="#">Active</a></li>
            <li aria-expanded="false"><a href="#">Item</a></li>
            <li class="uk-disabled" aria-expanded="false"><a href="#">Disabled</a></li>
          </ul>

        </div>

      </div>

      <hr>

      <div class="uk-grid-divider uk-child-width-expand@m uk-grid" uk-grid="">
        <div class="uk-first-column">

          <ul class="uk-dotnav">
            <li class="uk-active"><a href="#">Item 1</a></li>
            <li><a href="#">Item 2</a></li>
            <li><a href="#">Item 3</a></li>
            <li><a href="#">Item 4</a></li>
            <li><a href="#">Item 5</a></li>
            <li><a href="#">Item 6</a></li>
          </ul>

        </div>
        <div>

          <a href="#" uk-slidenav-previous="" class="uk-slidenav-previous uk-icon uk-slidenav">

          </a>

        </div>
        <div>

          <div>
            <div class="uk-tooltip uk-tooltip-top-center uk-display-inline-block">Tooltip</div>
          </div>

        </div>
        <div>

          <progress class="uk-progress" value="45" max="100">45%</progress>

        </div>

        <div class="uk-width-auto@m">

          <a href="#" uk-totop="" class="uk-totop">

          </a>

        </div>
      </div>

      <hr>

      <div class="uk-grid-divider uk-child-width-expand@m uk-grid" uk-grid="">
        <div class="uk-first-column">

          <ul class="uk-list uk-list-bullet">
            <li>List item 1</li>
            <li>List item 2</li>
            <li>List item 3</li>
          </ul>

        </div>
        <div>

          <ul class="uk-list uk-list-divider">
            <li>List item 1</li>
            <li>List item 2</li>
            <li>List item 3</li>
          </ul>

        </div>
        <div>

          <ul class="uk-list uk-list-striped">
            <li>List item 1</li>
            <li>List item 2</li>
            <li>List item 3</li>
          </ul>

        </div>
        <div>

          <dl class="uk-description-list uk-description-list-divider">
            <dt>Description lists</dt>
            <dd>A description text</dd>
            <dt>Description lists</dt>
            <dd>A description text</dd>
          </dl>

        </div>
        <div>

          <table class="uk-table uk-table-hover uk-table-striped">
            <thead>
            <tr>
              <th>Table</th>
              <th>Heading</th>
            </tr>
            </thead>
            <tbody>
            <tr>
              <td>Data</td>
              <td>Data</td>
            </tr>
            <tr>
              <td>Data</td>
              <td>Data</td>
            </tr>
            </tbody>
          </table>

        </div>
      </div>

    </div>
  </div>

  <div class="uk-section uk-section-default uk-section-small">
    <div class="uk-container">

      <div class="uk-grid-large uk-flex-middle uk-grid" uk-grid="">
        <div class="uk-width-expand uk-first-column">
          <p class="uk-text-large">Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor.</p>
        </div>
        <div class="uk-width-auto">
          <a class="uk-button uk-button-default uk-button-large" href="#">Button</a>
        </div>
      </div>

    </div>
  </div>

  <div class="uk-section uk-section-muted uk-section-small">
    <div class="uk-container">

      <div class="uk-grid-large uk-flex-middle uk-grid" uk-grid="">
        <div class="uk-width-expand uk-first-column">
          <p class="uk-text-large">Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor.</p>
        </div>
        <div class="uk-width-auto">
          <a class="uk-button uk-button-default uk-button-large" href="#">Button</a>
        </div>
      </div>

    </div>
  </div>

  <div class="uk-section uk-section-primary uk-section-small">
    <div class="uk-container">

      <div class="uk-grid-large uk-flex-middle uk-grid" uk-grid="">
        <div class="uk-width-expand uk-first-column">
          <p class="uk-text-large">Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor.</p>
        </div>
        <div class="uk-width-auto">
          <a class="uk-button uk-button-default uk-button-large" href="#">Button</a>
        </div>
      </div>

    </div>
  </div>

  <div class="uk-section uk-section-secondary uk-section-small">
    <div class="uk-container">

      <div class="uk-grid-large uk-flex-middle uk-grid" uk-grid="">
        <div class="uk-width-expand uk-first-column">
          <p class="uk-text-large">Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor.</p>
        </div>
        <div class="uk-width-auto">
          <a class="uk-button uk-button-default uk-button-large" href="#">Button</a>
        </div>
      </div>

    </div>
  </div>

  <div id="modal" uk-modal="" class="uk-modal">
    <div class="uk-modal-dialog">

      <button class="uk-modal-close-default uk-close" type="button" uk-close="">

      </button>

      <div class="uk-modal-header">
        <h2 class="uk-modal-title">Modal Title</h2>
      </div>

      <div class="uk-modal-body uk-text-center uk-padding-large">

        <div class="uk-width-medium uk-margin-auto uk-margin-medium">

          <h3>Nav Primary</h3>

          <ul class="uk-nav-primary uk-nav-parent-icon uk-nav-center uk-nav" uk-nav="">
            <li class="uk-active"><a href="#">Active</a></li>
            <li class="uk-parent">
              <a href="#">Parent</a>
              <ul class="uk-nav-sub" hidden="hidden" aria-hidden="true">
                <li><a href="#">Sub item</a></li>
              </ul>
            </li>
            <li class="uk-nav-divider"></li>
            <li class="uk-nav-header">Header</li>
            <li><a href="#"><i class="material-icons">rss_feed</i> Item</a></li>
          </ul>

        </div>

        <form class="uk-search uk-search-large uk-margin-auto">
          <input class="uk-search-input uk-text-center" type="search" placeholder="Search..." autofocus="">
        </form>

      </div>

      <div class="uk-modal-footer uk-text-right">
        <button class="uk-button uk-button-default uk-modal-close" type="button">Cancel</button>
        <button class="uk-button uk-button-primary" type="button">Save</button>
      </div>

      <div class="uk-modal-caption">Caption</div>

    </div>
  </div>

  <div id="offcanvas" uk-offcanvas="flip: true; overlay: true" class="uk-offcanvas">
    <div class="uk-offcanvas-bar">

      <ul class="uk-nav uk-nav-default">
        <li class="uk-active"><a href="#">Active</a></li>
        <li class="uk-parent">
          <a href="#">Parent</a>
          <ul class="uk-nav-sub">
            <li><a href="#">Sub item</a></li>
            <li><a href="#">Sub item</a></li>
          </ul>
        </li>
        <li class="uk-nav-header">Header</li>
        <li><a href="#"><i class="material-icons">rss_feed</i> Item</a></li>
        <li><a href="#"><i class="material-icons">rss_feed</i> Item</a></li>
        <li class="uk-nav-divider"></li>
        <li><a href="#"><i class="material-icons">rss_feed</i> Item</a></li>
      </ul>

      <button class="uk-button uk-button-default uk-offcanvas-close uk-width-1-1 uk-margin" type="button">Close</button>

      <h3>Title</h3>

      <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris
        nisi ut aliquip ex ea commodo consequat.</p>

    </div>
  </div>
</div>
{{!-- --}}