{{!--
Add content you wish automatically added to the documents head
here. The 'model' available in this template can be populated by
setting values on the 'head-data' service.
--}}
<meta property="og:site_name" content="{{model.siteName}}" />
<!--<meta property="og:url" content="https://framework.benev.tech" />-->
<meta property="twitter:name" content="{{model.twitterHandle}}" />

<!-- start page specific -->
<title>{{model.title}}</title>
<meta property="og:title" content={{model.title}} />
<meta property="og:image" name="twitter:image" content="{{model.image}}" />
<meta property="og:description" name="description" content="{{model.description}}" />

