<header>
  {{#navbar-info}}{{/navbar-info}}
</header>
<div class="main-content uk-height-viewport">
  {{liquid-outlet}}
</div>
{{!--
<footer id="footer">
  {{#footer-default}}{{/footer-default}}
</footer>
--}}