<header>
  {{#navbar-default}}{{/navbar-default}}
</header>
<div class="main-content uk-height-viewport" style="padding-bottom: 100px;">
  {{liquid-outlet}}
</div>
{{!--
<footer id="footer">
  {{#footer-default}}{{/footer-default}}
</footer>
--}}