<div id="content" class="bt-gray-background" uk-height-viewport="expand">
  <div class="uk-section uk-section-large">
    <div class="uk-container">

      <div class="uk-width-1-2@m uk-width-1-3@l uk-align-center">

        <form class="login-form" {{action 'authenticate' on='submit'}}>

            <div class="uk-grid-small" uk-grid>

              <div class="uk-width-1-1">
                {{#link-to 'layout-info.index' class="bt-cursive uk-link-muted bt-brand-default"}}
                  <img src="{{brandLogoUrl}}" /><div>benevolent tech</div>
                {{/link-to}}
              </div>

              <div class="uk-width-1-1">
                <h1 class="uk-h3">Try our demo app</h1>
              </div>

              <div class="uk-width-1-1">
                <div id="username-field" class="bt-field-wrapper">
                  <div class="bt-field">
                    {{input placeholder='Email or Username' value=username class="uk-input uk-form-large"}}
                  </div>
                  <div class="uk-text-small uk-text-danger bt-field-error"></div>
                </div>
              </div>

              <div class="uk-width-1-1">
                <div id="password-field" class="bt-field-wrapper">
                  <div class="bt-field">
                    {{input placeholder='Password' type='password' value=password class="uk-input uk-form-large"}}
                  </div>
                  <div class="uk-text-small uk-text-danger bt-field-error"></div>
                </div>
              </div>

              <div class="uk-width-1-1 uk-flex-middle" uk-grid>
                <div class="uk-width-auto">
                  <button class="uk-button uk-button-primary uk-button-large" type="submit">Login</button>
                </div>
                <div class="uk-width-expand uk-text-small uk-text-right">
                    {{#link-to 'register' class="uk-link-muted uk-clearfix"}}Don't have an account?{{/link-to}}
                    {{#link-to 'password-reset' class="uk-link-muted uk-clearfix"}}Forgot Password?{{/link-to}}
                </div>
              </div>

              {{#if unhandledErrorStr}}
              <div class="uk-width-1-1">
                <div class="uk-alert-danger uk-text-small" uk-alert>
                  {{unhandledErrorStr}}
                </div>
              </div>
              {{/if}}

            </div>

        </form>

      </div>
    </div>
  </div>
</div>
