<div id="content" class="bt-gray-background"  uk-height-viewport="expand">
  <div class="uk-section uk-section-large">
    <div class="uk-container">

      <div class="uk-width-1-2@m uk-width-1-3@xl uk-align-center">

        <form class="register-form" {{action 'register' on='submit'}}>

          <div class="uk-grid-small" uk-grid>

            <div class="uk-width-1-1">
              {{#link-to 'layout-info.index' class="bt-cursive uk-link-muted bt-brand-default"}}
                <img src="{{brandLogoUrl}}" /><div>benevolent tech</div>
              {{/link-to}}
            </div>

            <div class="uk-width-1-1">
              <h1 class="uk-h3">Start your own todos</h1>
            </div>

            <div class="uk-width-1-1">
              <div class="uk-grid-small uk-child-width-1-2@s" uk-grid>
                <div id="first-name-field" class="bt-field-wrapper">
                  <div class="bt-field">
                    {{input placeholder='First Name' value=first_name class="uk-input uk-form-large"}}
                  </div>
                  <div class="uk-text-small uk-text-danger bt-field-error"></div>
                </div>

                <div id="last-name-field" class="bt-field-wrapper">
                  <div class="bt-field">
                    {{input placeholder='Last Name' value=last_name class="uk-input uk-form-large"}}
                  </div>
                  <div class="uk-text-small uk-text-danger bt-field-error"></div>
                </div>
              </div>

            </div>

            <div class="uk-width-1-1">
              <div id="username-field" class="bt-field-wrapper">
                <div class="bt-field">
                  {{input placeholder='Email or Username' value=username class="uk-input uk-form-large"}}
                </div>
                <div class="uk-text-small uk-text-danger bt-field-error"></div>
              </div>
            </div>

            <div class="uk-width-1-1">
              <div id="password-field" class="bt-field-wrapper">
                <div class="bt-field">
                  {{input placeholder='Password' type='password' value=password class="uk-input uk-form-large"}}
                </div>
                <div class="uk-text-small uk-text-danger bt-field-error"></div>
              </div>
            </div>

            <div class="uk-width-1-1">
              <span class="uk-text-small">
                Signing up for a BT account means you agree to the
                {{#link-to 'layout-info.privacy-policy' class="uk-link-muted"}}Privacy Policy{{/link-to}} and
                {{#link-to 'layout-info.terms-of-service' class="uk-link-muted"}}Terms of Service{{/link-to}}.
              </span>
            </div>

            <div class="uk-width-1-1 uk-flex-middle" uk-grid>
              <div class="uk-width-auto">
                <button class="uk-button uk-button-primary uk-button-large" type="submit">Create Account</button>
              </div>
              <div class="uk-width-expand uk-text-small uk-text-right">
                {{#link-to 'login' class="uk-link-muted uk-clearfix"}}Have an account?{{/link-to}}
              </div>
            </div>

            {{#if unhandledErrorStr}}
              <div class="uk-width-1-1">
                <div class="uk-alert-danger uk-text-small" uk-alert>
                  {{unhandledErrorStr}}
                </div>
              </div>
            {{/if}}

          </div>

        </form>

      </div>
    </div>
  </div>
</div>
