<div id="content" class="bt-gray-background"  uk-height-viewport="expand">
  <div class="uk-section uk-section-large">
    <div class="uk-container">

      <div class="uk-width-1-2@m uk-width-1-3@l uk-align-center">

        <h1 class="uk-h3">Welcome!</h1>

        {{#link-to "layout-default.dash" class="uk-button uk-button-large uk-button-primary uk-text-center"}}
          Next Up: Dashboard
        {{/link-to}}
      </div>

    </div>
  </div>
</div>