<div id="content" class="bt-yellow-background"  uk-height-viewport="expand">
  <div class="uk-section uk-section-small">
    <div class="uk-container">

      <div class="uk-grid-small" uk-grid>
        <div class="uk-width-expand@m">
            {{#input class="uk-form-large uk-form-blank uk-input bt-text-xl todo-task" value=model.task}}{{/input}}
        </div>
        <div class="uk-width-auto@m uk-visible@s">
          <div class="uk-grid-small uk-child-width-1-2" uk-grid>
            <div>
              <button class="uk-button uk-button-default uk-border-rounded uk-width-1-1 uk-width-auto@m bt-button-icon-large" {{action 'toggleMarkDeleted' model}}><i class="material-icons">delete</i></button>
            </div>
            <div>
              <button class="uk-button uk-button-default uk-border-rounded uk-width-1-1 uk-width-auto@m bt-button-icon-large" {{action 'toggleMarkFinished' model}}><i class="material-icons">check</i></button>
            </div>
          </div>
        </div>
      </div>

      <hr>

      <div class="bt-trumbowyg">{{{model.notes}}}</div>

      <div class="uk-margin-small-bottom uk-grid-small uk-hidden@s" uk-grid>
        <div class="uk-width-1-2">
          <button class="uk-button uk-button-default uk-border-rounded uk-width-1-1 bt-button-icon-large" {{action 'toggleMarkDeleted' model}}><i class="material-icons">delete</i></button>
        </div>
        <div class="uk-width-1-2">
          <button class="uk-button uk-button-default uk-border-rounded uk-width-1-1 bt-button-icon-large" {{action 'toggleMarkFinished' model}}><i class="material-icons">check</i></button>
        </div>
      </div>

      <div class="uk-text-center">
        <button class="uk-button uk-button-primary uk-button-large uk-border-rounded uk-width-1-1 uk-margin-small-bottom bt-text-xl" {{action 'saveAndBack' model}}>Save</button>
        <button class="uk-button uk-button-link" {{action 'todoBack' model}}>Cancel</button>
      </div>

    </div>
  </div>
</div>

